<header class="masthead">

<nav id="main-nav3" class="language-nav">
    <ul>
        <li><a>CSS</a></li>
        <li><a>HTML<a></li>
        <li><a>Javascript<a></li>
        <li><a>Ruby</a></li>
    </ul>
</nav>


<img class="logo" src="/assets/AA_Times_Logo.png">

<nav>
    <ul class="masthead-links"
        <li><button>Tuesday, October 18, 2016</button></li>
        <li><button class="underline"><i class="fas fa-newspaper"></i>Today’s Paper</button></li>
        <li><button class="underline"><i class="fas fa-video-slash"></i>Video</button></li>
        <li><button>77°F</button></li>
        <li><button class="green">AAO <span>+100%</span></button></li>
    </ul>
</nav>

</header>



